name: deply

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
      - name: checkout code
        uses: actions/checkout@v4
      
      - name: SSH deploy
        uses: appleboy/ssh-action@1.0.3
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            set -e
            sudo -i
            cd "${{ secrets.APP_DIR }}"
            git pull origin
            git mod tidy
            go build -o main .
            sudo supervisorctl restart "${{ secrets.SUPERVISOR_PROGRAM }}"
